repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args:
          - --config-file=pyproject.toml
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run python -mpytest
        language: system
        pass_filenames: false

